{% extends "layout.html.twig" %}

{% block title %}
{% if article is defined%}
    {{ article.title }}
{% else %}
    Erreur :(
{% endif %}
{% endblock %}

{% block content %}
<p>
    <div class="well">
        {% if articles is defined%}
            <table class="table table-hover table-condensed table-bordered">
                <tr>
                    <th>nom</th>
                    <th>prix (€)</th> 
                    <th class="col-md-1">Enlever</th>
                </tr>
                {% for article in articles %}
                      <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.price }} €</td>
                        <td><form method=post action={{path('cart')}}>
                            <input type=hidden name="artid" value={{article.id}}>
                            <button type="submit" class="btn btn-default btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form></td>
                      </tr>
                {%endfor%}
            </table>
            <strong> Total : </strong> {{ total }} €.
            <p class="text-right">
                <a href={{path("checkout")}} class="btn btn-primary">Acheter</a>
            </p>
        {% else %}
            <h2> Votre panier est vide </h2>
            <h3><a href={{path("home")}}>Cliquez-ici</a> pour retourner à l'accueil.</h3>
        {% endif %}
    </div>
</p>
{% endblock %}