{% extends "layout.html.twig" %}

{% block title %}{{ categorie.title }}{% endblock %}

{% block content %}
    <h1 class="categories-title">{{ categorie.title }}</h1>
    <br/>
    <div class ='row article'>
    {% for article in articles %}
        <div class='col-md-3 col-sm-6 col-xs-12'>
            <div class="box">
            <a href="{{ path('article', { 'id': article.id }) }}">
                <p class="image"><img src="/img/{{ article.getImage() }}" class="img-rounded img-responsive"></p>
                <p>
                    <span class="badge price">{{ article.price }} €</span>
                    <br/>
                    <span class="title">{{ article.title }}</span>
                </p>
            </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}