{% extends "layout.html.twig" %}

{% block title %}
{% if categorie is defined %}
    {{ categorie.title }}
{% else %}
    resultats
{% endif %}
{% endblock %}

{% block content %}
    <h1 class="categories-title">
        {% if categorie is defined %}
            {{ categorie.title }}
        {% else %}
            resultats
        {% endif %}
    </h1>
    <br/>
    <div class ='row article'>
    {% if articles is defined %}  
    {% for article in articles %}
        <div class='col-md-3 col-sm-6 col-xs-12'>
            <a href="{{ path('article', { 'id': article.id }) }}">
                <div class='box'>
                    <div class="image" style="background: url('/img/{{ article.getImage() }}') center;
                                              width: 100%;
                                              background-color: #EFEFEF;
                                              background-repeat: no-repeat;
                                              background-size: contain;
                                              border-radius: 4px;">
                        <img src="/img/default_image.png" class=" img-responsive">
                    </div>
                    <div class="desc">
                        <p>
                            <span class="badge price">{{ article.price }} €</span>
                            <br/>
                            <span class="title">{{ article.title }}</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    {% else %}
     <div class ='well'>
        <h1> Désolé,<br> </h1>
        <h2> mais aucun article ne semble correspondre à ce que vous recherchez ;( </h2>
    </div>
    {% endif %}
    </div>
{% endblock %}