{% extends 'layout.html.twig' %}

{% block title %}User Signup{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if error %}
<div class="alert alert-danger">
    <strong>Signup failed!</strong> {{ error }}
</div>
{% endif %}
<div class="well">
    <form data-toggle="validator" id="signupForm" class="form-signin form-horizontal" role="form" action="{{ path('signup') }}" method="post">
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <input type="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="Enter your e-mail" required autofocus>
            </div>
        </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <input type="password" data-minlength="6" class="form-control" id="_password" placeholder="Password" required>
                    <div class="help-block">Minimum of 6 characters</div>
            </div>
         <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#_password" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span>  Sign up !</button>
            </div>
        </div>
    </form>
<script src="{{ app.request.basepath }}/lib/js/validator.js"></script>
</div>
{% endblock %}